@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --myprimary-color: #223233;
    --mysecondary-color: #9EE9E0;
}
body{
    background-color: var(--myprimary-color);
    color: var(--mysecondary-color);
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28200, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") ;
}
.navbar-toggler{
  border: none;
}
/* #navmenu{
    display: flex;
    justify-content: flex-end;
} */
.font-logo{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--mysecondary-color);

}
.font-heavy{
    font-weight: 700;
    font-size: 3rem;
}
div.text{
    padding-right: 3.5rem;
}
.form-container{
    border-radius: 10px;
}
.bg-my-btn{
    background-color: var(--myprimary-color);
    border-radius: 30px;
}
.bg-google-btn{
    border-radius: 30px;
}

/* media queries */
@media (max-width: 480px){
    .font-logo{
        font-weight: 700;
        font-size: 1.0rem;
    }
    .font-heavy{
        font-size: 2.0rem;
    }
    div.text{
        padding-right: 1rem;
    }
}